@model ShoppingCartViewModel

<h2 class="mt-4 ml-3"> Votre panier</h2>
<table class=" mt-5 ml-2 table table-bordered table-striped">

    <thead>

        <tr>
            <th>Nombre</th>
            <th>Livre</th>
            <th class="text-right">Prix</th>
            <th class="text-right">Total</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems){
        <tr>
            <td class="text-center">@item.Amount</td>
            <td class="text-left">@item.Book.Name</td>
            <td class="text-right">@item.Book.Price.ToString("c")</td>
            <td class="text-right">
            @((item.Amount * item.Book.Price).ToString("c"))
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>